<div class="container album text-muted">
	<div class="row norma">
		<div class="col-md-7">
			<%= image_tag @portfolio_item.main_image.to_s, width: '100%' %>
		</div>
		<div class="col-md-5">
			<h4><%= @portfolio_item.title %></h4>
			<hr>
			<em><%= @portfolio_item.subtitle %></em>
			<p><%= @portfolio_item.body %></p>
			<hr>
			<h2>Technologies used:</h2>
			<% @portfolio_item.technologies.each do |t| %>
				<p><%= t.name %></p>
			<% end %>
		</div>
	</div>
	<div class="row norma">
		<div class="col-md-12">
			<%= link_to "View all portfolio items", portfolio_index_path %>
		</div>
	</div>
</div>





